* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
  font-family: "Poppins", sans-serif;
}

body {
  background: lightblue;
  display: flex;
  justify-content: center;
  align-items: center;
  min-height: 100vh;
}

.container {
  position: relative;
  width: 100%;
  max-width: 1000px;
  min-height: 1000px;
  background: #fff;
  margin: 50px;
  display: grid;
  grid-template-columns: 1fr 2fr;
  box-shadow: 0 35px 55px rgba(0, 0, 0, 1);
}
.container .leftSide {
  position: relative;
  background-color: #003147;
  padding: 40px;
}

.container .rightSide {
  position: relative;
  background: white;
  padding: 40px;
}

.profileText {
  position: relative;
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-bottom: 20px;
  border-bottom: 1px solid rgba(255, 255, 255, 0.2);
}

.profileText h1 {
  color: #fff;
  margin-top: 10px;
  text-transform: uppercase;
  text-align: center;
  font-weight: 600;
  line-height: 1.4em;
}

.profileText h1 span {
  font-size: 0.8em;
  font-weight: 300;
}

.workExp {
  position: relative;
}

.workExp h2 {
  color: #003147;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.yearComp h3 {
  font-size: 75%;
}

li {
  color: #333;
  padding: 2px 0px;
  font-size: 16px;
  font-weight: 300;
}
.text {
  padding: 0px 20px;
}
.workExp .box {
  display: flex;
  flex-direction: row;
  margin: 20px 0;
}

.workExp .box .yearComp {
  min-width: 130px;
}

.workExp .box .yearComp h3 {
  text-transform: uppercase;
  color: #848c90;
  font-weight: 600;
}
.text h3 {
  color: #2a7da2;
  font-size: 16px;
}

.skills h2 {
  color: #003147;
  margin-top: 20px;
  text-transform: uppercase;
  letter-spacing: 1px;
  margin-bottom: 10px;
}

.skills .box {
  position: relative;
  width: 100%;
  display: grid;
  grid-template-columns: 130px 1fr;
  justify-content: center;
  align-items: center;
  padding: 10px 0;
}

.skills .box h3 {
  text-transform: uppercase;
  color: #848c99;
  font-weight: 500;
  font-size: 90%;
}

.skills .box .percent {
  position: relative;
  width: 100%;
  height: 6px;
  background-color: #f0f0f0;
  margin-top: 5px;
}

.skills .box .percent div {
  position: absolute;
  top: 0;
  left: 00;
  height: 100%;
  background: #03a9f4;
}

.contactInfo {
  padding: 20px 0 5px 0;
}

.title {
  color: #fff;
  text-transform: uppercase;
  font-weight: 600;
  letter-spacing: 1px;
  padding: 2px 0;
}

.contactInfo ul {
  position: relative;
}

.contactInfo ul li {
  position: relative;
  list-style: none;
  margin: 10px 0;
  cursor: pointer;
  text-transform: uppercase;
  font-size: 90%;
}

.contactInfo ul li .icon {
  display: inline-block;
  width: 30px;
  font-size: 18px;
  color: #03a9f4;
}

.contactInfo ul li span {
  color: #fff;
  font-weight: 300;
}
.education {
  padding: 10px 0;
}
.education li {
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #fff;
  padding: 7px 0;
}

.education h3 {
  color: #03a9f4;
  font-weight: 500;
  font-size: 95%;
  padding: 5px 0;
}

.education h4 {
  color: #fff;
  font-weight: 500;
  font-size: 95%;
}

#year {
  list-style: none;
}

.bullet {
  font-size: 90%;
  font-weight: 300;
}

.projects ul li {
  color: #2a7da2;
  font-size: 16px;
  padding: 5px;
  font-weight: 300;
}

.projects span {
  color: #333;
}
.hobbies {
  padding: 10px 0;
}
.hobbies ul {
  list-style: none;
  padding: 6px 0;
}
.hobbies li {
  font-size: 90%;
  margin-bottom: 5px;
  text-transform: uppercase;
  color: #fff;
  padding: 5px 0;
  font-weight: 300;
}

.imgBox img {
  width: 150px;
  height: auto;
  border-radius: 50px;
}

a {
  text-decoration: none;
  color: #fff;
}

a:hover {
  color: red;
}
